<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 80%;
            margin: 10px auto;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .box {
            width: 200px;
            height: 200px;
            margin: 10px;
            background-color: paleturquoise;
            border: 2px darkslategray solid;
        }
    </style>
</head>

<body>
    {% for box in range(boxes): %}
        <div class="box" style="background-color: {{ color }}"></div>
    {% endfor %}
</body>

</html>