<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Home</title>
</head>

<body>
    <div id="wrapper">
        <!-- New Dojo form -->
        <div class="col">
            <h1>New Dojo</h1>

            <form action="/dojo/create" method="POST">
                <h2>Create a Dojo</h2>

                <div class="form-group">
                    <label for="dojo_name">Name</label>
                    <input type="text" name="dojo_name" class="form-control">
                </div>

                <input type="submit" value="Create">
            </form>
        </div>

        <!-- Display all Dojos -->
        <div class="col">
            <h1>All Dojos</h1>

            <div>
                {% for dojo in all_dojos %}
                <a href="/dojo/display/{{ dojo.id }}">{{ dojo.name }}</a>
                {% endfor %}
            </div>

            <!-- Redirect to Ninja Create page -->
            <form action="/ninja/new">
                <input type="submit" value="Add Ninja">
            </form>
        </div>
    </div>
</body>

</html>